<!--
 * File: edit_employee.html
 * Author: Nithujan Jegatheeswaran
 * Brief:
 * Version: 29.03.2022
 -->

{% extends 'employee_form.html' %}

{% block title %}Nouvel/le employé/e{% endblock title %}

{% block h1 %}Ajout d'un/e employé/e{% endblock h1 %}

{% block breadcrumb_list %}
<li class="breadcrumb-item active">Nouvel/le employé/e</li>
{% endblock breadcrumb_list %}

{% block form_action %}{{ url_for('new_employee') }}{% endblock form_action %}

{% block button_value %}Ajouter{% endblock button_value %}