{% extends 'gabarit.html' %}

{% block title %}Fiches de salaire{% endblock title %}

{% block content %}
    <h1 class="mt-4">Mes Fiches De Salaire</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Fiches De Salaire</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">Liste Complète</div>
                <div class="card-body">
                    <table>
                        <thead>
                        <tr>
                            <th>Titre</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payslip in list %}
                        <tr>
                            <td>{{ payslip['filepath'][::-1] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}