{#
 # File: task_list.html
 # Author: Nithujan Jegatheeswaran
 # Brief: Template used to display the logged employee's task list
 # Version: 30.03.2022
 #}
{% extends 'header_nav_footer.html' %}

{% block title %}Liste des tâches{% endblock title %}

{% block content %}
    <h1 class="mt-4">Liste des tâches effectuées</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Liste des tâches</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header">Tâches effectuées durant ce mois</div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-primary">Projet</th>
                            <th class="text-primary">Titre</th>
                            <th class="text-primary">Heure de début</th>
                            <th class="text-primary">Heure de fin</th>
                            <th class="text-primary">Date</th>
                            <th class="text-primary">Édition</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in list %}
                            {% if task.validation == 0 %}
                                <tr>
                                    <td>{{ task.project }}</td>
                                    <td>{{ task.title }}</td>
                                    <td>{{ task.since.strftime('%H:%M') }}</td>
                                    <td>{{ task.until.strftime('%H:%M') }}</td>
                                    <td>{{ task.until.strftime('%d-%m-%Y') }}</td>
                                    <td class="text-center">
                                        <a href="{{ url_for('edit_task', task_id=task.id) }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

