/*
* File: custom_styles.css
* Author: Nithujan Jegatheeswaran
* Brief: 
* Version: 30.03.2022
*/

#logo{
    width: 50px;
    height: 45px;
    border: solid black 2px;
    margin-right: 5px;
}

.fa-user-edit, .fa-edit, .fa-archive{
    color: black;
}


/* Source: https://gist.github.com/ksloan/d1b9ace61fddd2356ebf */
.fa-facebook-square {
    color: #3b5998
}

/* Source: https://gist.github.com/ksloan/d1b9ace61fddd2356ebf */
.fa-twitter-square {
    color: #00aced
}

/* Source: https://gist.github.com/ksloan/d1b9ace61fddd2356ebf */
.fa-linkedin {
    color: #007bb6
}

.fa-github-square {
    color: #000000;
}